@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oikawa Web App</h1>
    <p class="lead">Bem Vindo!</p>
    <p class="lead">Este site é parte de um conjunto de demos utilizados para demonstrar diversas funcionalidades do Microsoft Azure</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>Venha conhecer o Microsoft Azure</p>
        <p>57% das empresas da Fortune 500 já usam o Azure</p>
        <p>Inscreva-se e implante sua primeira solução de nuvem em menos de 5 minutos</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/pt-br/pricing/free-trial/">Teste Gratuitamente &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Operations Management Suite</h2>
        <p>Tenha o controle sobre qualquer nuvem híbrida. Gerencie o Azure ou o AWS, o Windows Server ou o Linux, o VMware ou o OpenStack com nossa solução de gerenciamento de TI em nuvem econômica e completa.</p>
        <p><a class="btn btn-default" href="https://login.mms.microsoft.com/signin.aspx?signUp=on&ref=ms_mms">Teste Gratuitamente &raquo;</a></p>
    </div>
</div>